<li id="post-<%= post._id %>"><p>
    <%= post.content %>
    <small><%= post.user.name %></small>
    <% if (locals.user && locals.user.id == post.user.id){%>
        <a class="deletePostButton" href="/posts/delete/<%= post._id %>">Delete</a>
    <%}%>
</p>
</li>
<div class="comment-content-container">
    <%- include('_comments')-%>

</div>
<script src="/js/home_post.js"></script>
